<div class="row">
  <div class="card text-white bg-dark col-12 mb-2">
    <div [routerLink]="['/projects/physics-units']" class="card-header">👈 Back</div>
  </div>
</div>
<div class="body">
  <div id="popup">
    <label id="label"></label><br />
    <input type="reset" id="reset" value="0" class="control" /><input
      type="submit"
      id="divBtn"
      value="/"
      class="control"
    /><br />
    <input type="submit" id="kgBtn" value="kg" class="base" /><input
      type="submit"
      id="mBtn"
      value="m"
      class="base"
    /><input type="submit" id="sBtn" value="s" class="base" /><input
      type="submit"
      id="ABtn"
      value="A"
      class="base"
    /><br />
    <input type="submit" id="CBtn" value="C" disabled class="derived" /><input
      type="submit"
      id="FBtn"
      value="F"
      disabled
      class="derived"
    /><input type="submit" id="HBtn" value="H" disabled class="derived" /><input
      type="submit"
      id="HzBtn"
      value="Hz"
      disabled
      class="derived"
    /><input type="submit" id="JBtn" value="J" disabled class="derived" /><input
      type="submit"
      id="NBtn"
      value="N"
      disabled
      class="derived"
    /><input
      type="submit"
      id="PaBtn"
      value="Pa"
      disabled
      class="derived"
    /><input
      type="submit"
      id="siemensBtn"
      value="S"
      disabled
      class="derived"
    /><input type="submit" id="TBtn" value="T" disabled class="derived" /><input
      type="submit"
      id="VBtn"
      value="V"
      disabled
      class="derived"
    /><input type="submit" id="WBtn" value="W" disabled class="derived" /><input
      type="submit"
      id="weberBtn"
      value="Wb"
      disabled
      class="derived"
    /><input
      type="submit"
      id="omegaBtn"
      value="&Omega;"
      disabled
      class="derived"
    /><br />
    <label id="measLbl"></label><br />
    <label id="abbrLbl"></label>
  </div>
  <script type="text/javascript" src="physics.js"></script>
</div>
