<header>
  <div class='header-container'>
    <a [routerLinkActiveOptions]='{ exact: true }' class='header-name' routerLink='/' routerLinkActive='active'>
      Chris Stone
    </a>
    <nav>
      <ul>
        <li><a routerLink='/work' routerLinkActive='active'>Work</a></li>
        <li><a routerLink='/portfolio' routerLinkActive='active'>Portfolio</a></li>
        <li><a routerLink='/speaking' routerLinkActive='active'>Speaking</a></li>
        <li><a routerLink='/contact' routerLinkActive='active'>Contact</a></li>
      </ul>
    </nav>
    <button (click)='switchToggled()' aria-hidden='true' class='theme-switch'>{{theme}}</button>
  </div>
</header>
