<div class="row">
  <div class="card text-white bg-dark col-12 card-back">
    <div [routerLink]="['/portfolio/physics-units']" class="card-header">
      👈 Back
    </div>
  </div>
</div>
<div class="body">
  <div id="popup">
    <label id="label"></label><br/>
    <input class="control" id="reset" type="reset" value="0"/><input
    class="control"
    id="divBtn"
    type="submit"
    value="/"
  /><br/>
    <input class="base" id="kgBtn" type="submit" value="kg"/><input
    class="base"
    id="mBtn"
    type="submit"
    value="m"
  /><input class="base" id="sBtn" type="submit" value="s"/><input
    class="base"
    id="ABtn"
    type="submit"
    value="A"
  /><br/>
    <input class="derived" disabled id="CBtn" type="submit" value="C"/><input
    class="derived"
    disabled
    id="FBtn"
    type="submit"
    value="F"
  /><input class="derived" disabled id="HBtn" type="submit" value="H"/><input
    class="derived"
    disabled
    id="HzBtn"
    type="submit"
    value="Hz"
  /><input class="derived" disabled id="JBtn" type="submit" value="J"/><input
    class="derived"
    disabled
    id="NBtn"
    type="submit"
    value="N"
  /><input
    class="derived"
    disabled
    id="PaBtn"
    type="submit"
    value="Pa"
  /><input
    class="derived"
    disabled
    id="siemensBtn"
    type="submit"
    value="S"
  /><input class="derived" disabled id="TBtn" type="submit" value="T"/><input
    class="derived"
    disabled
    id="VBtn"
    type="submit"
    value="V"
  /><input class="derived" disabled id="WBtn" type="submit" value="W"/><input
    class="derived"
    disabled
    id="weberBtn"
    type="submit"
    value="Wb"
  /><input
    class="derived"
    disabled
    id="omegaBtn"
    type="submit"
    value="&Omega;"
  /><br/>
    <label id="measLbl"></label><br/>
    <label id="abbrLbl"></label>
  </div>
  <script src="physics.js" type="text/javascript"></script>
</div>
