#taglines {
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;

  .tagline {
    background-color: var(--taglines-background-primary);
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;

    &:first-of-type {
      position: static;
      visibility: visible;
    }
  }
}
