<p>
  These open source projects demonstrate things that I have learned outside job experience to continue my skills.
</p>
<div class='card text-white bg-dark mb-3 filter-card'>
  <h5>Filter</h5>
  <div class='filters'>
    <label>
      <span>Language: </span>
      <select (change)='filterChange()' [(ngModel)]='selectedLanguage'>
        <option selected='' value=''>All Languages</option>
        <option *ngFor='let language of languages'>{{language}}</option>
      </select>
    </label>
    <label>
      <span>Platform: </span>
      <select (change)='filterChange()' [(ngModel)]='selectedPlatform'>
        <option selected='' value=''>All Platforms</option>
        <option *ngFor='let platform of platforms'>{{platform}}</option>
      </select>
    </label>
    <label>
      <span>Library: </span>
      <select (change)='filterChange()' [(ngModel)]='selectedLibrary'>
        <option selected='' value=''>All Libraries</option>
        <option *ngFor='let library of libraries'>{{library}}</option>
      </select>
    </label>
    <label>
      <span>Sort: </span>
      <select (change)='filterChange()' [(ngModel)]='selectedSortOption'>
        <option *ngFor='let sortOption of sortOptions'>{{sortOption}}</option>
      </select>
    </label>
  </div>
</div>
<div class='portfolio-grid'>
  <app-item *ngFor='let project of filteredProjects' [project]='project'></app-item>
</div>
