<h4>About Chris Stone.</h4>
<p>
  I am a software development engineer and team lead with seven years of
  experience in production teams in a corporate environment and an appetite for
  technical challenges. I have experience in writing desktop, web, and mobile
  software, and while my work experience is mostly in desktop than in others, I
  maintain a general broad knowledge of many languages and frameworks in my own
  time. With a Bachelor of Science from Kennesaw State University and experience
  in all areas of the stack and across operating systems, I know I still have
  much to learn and grow.
</p>
<table class="table table-dark table-striped table-bordered">
  <caption>
    List of skills and self-assessed proficiencies
  </caption>
  <thead>
    <tr>
      <th scope="col">Skill</th>
      <th scope="col">Very proficient</th>
      <th scope="col">Somewhat proficient</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Languages</th>
      <td>C#, TypeScript/JavaScript</td>
      <td>Kotlin, PHP, Java, VB .NET</td>
    </tr>
    <tr>
      <th scope="row">Frameworks</th>
      <td>.NET Framework, Angular</td>
      <td>.NET Core, React</td>
    </tr>
    <tr>
      <th scope="row">Libraries</th>
      <td>Windows Forms, WPF, MSTest V2</td>
      <td>Ionic, Xamarin.Forms</td>
    </tr>
    <tr>
      <th scope="row">Databases</th>
      <td>Microsoft SQL Server, Actian Zen</td>
      <td>MySQL, SQLite</td>
    </tr>
    <tr>
      <th scope="row">Tools</th>
      <td>Git, Jira, Confluence, Subversion</td>
      <td>Microsoft Azure, Jenkins, Azure DevOps (TFS)</td>
    </tr>
    <tr>
      <th scope="row">Programs</th>
      <td>Visual Studio 2019, Visual Studio Code, GIMP</td>
      <td>Android Studio, IntelliJ IDEA</td>
    </tr>
    <tr>
      <th scope="row">Processes</th>
      <td>CI/CD, Agile/Scrum/Kanban</td>
      <td>Test-driven development, DevOps</td>
    </tr>
  </tbody>
</table>
<p>
  When I am not writing code, I may be working on my skills in the kitchen
  cooking vegan food, spending some quality time with my wife or our cats, or
  playing PlayStation 5. I might also be heading out for a long-distance run. I
  have run several marathon and half marathon races but am content lately to
  stick to 5K races and the occasional 10K for now. I have run the AJC Peachtree
  Road Race in Atlanta every year since 2014.
</p>
