<h6>
  Chris Stone.
</h6>
<p>
  I am a software developer with with experience in production teams and a broad knowledge of programming concepts over multiple languages. With a Bachelor of Science from Kennesaw State University and experience in several programming languages across different platforms, I stay busy with various projects to stay fresh. I have been working as part of a development team for a software company for several years. In addition to developing applications as an employee in a structured environment, I have also created small applications in my own time to continue learning.
</p>
<ul><li>
Programming languages: C#, Java, Kotlin, HTML5, TypeScript, JavaScript, PHP, Visual Basic, PowerShell, Python, C++
</li><li>Frameworks and APIs: Angular, Modularis, Xamarin, Android
</li><li>Database engines: SQL Server, Actian PSQL, MySQL, SQLite
</li><li>IDE: Visual Studio, IntelliJ IDEA, Android Studio, Visual Studio Code
</li><li>Versioning: Git, Apache Subversion
</li></ul>
<p>
  In my spare time, I love to run. I often compete in 5K, 10K, and half marathon races, and I have completed a marathon every year since 2014. I may not run very fast, but my participation has earned me several awards, including the Atlanta Track Club Grand Prix Series David Jordan Bunny Award in 2014, 2015, 2016, and 2017, the Triple Peach distinction in 2014, 2015, 2016, and 2017, the Ultimate Peach distinction in 2017, and the inaugural overall male winner of the Run Social Atlanta Grand Prix in 2017. I also enjoy writing and recording music and hope to do even more with this hobby in the future.
</p>
