<h6>About Chris Stone.</h6>
<p>
  I am a software developer with with experience in production teams and a broad
  knowledge of programming concepts over multiple languages. With a Bachelor of
  Science from Kennesaw State University and experience in several programming
  languages across different platforms, I stay busy with various projects to
  stay fresh. I have been working as part of a development team for a software
  company for several years. In addition to developing applications as an
  employee in a structured environment, I have also created small applications
  in my own time to continue learning.
</p>
<table class="table table-dark table-striped table-bordered">
  <caption>
    List of skills and self-assessed proficiencies
  </caption>
  <thead>
    <tr>
      <th scope="col">Skill</th>
      <th scope="col">Very proficient</th>
      <th scope="col">Somewhat proficient</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Languages</th>
      <td>C#, TypeScript/JavaScript</td>
      <td>Kotlin, PHP, Java, VB .NET</td>
    </tr>
    <tr>
      <th scope="row">Frameworks</th>
      <td>.NET Framework, Angular</td>
      <td>.NET Core, React</td>
    </tr>
    <tr>
      <th scope="row">Libraries</th>
      <td>Windows Forms, WPF, MSTest V2</td>
      <td>Ionic, Xamarin.Forms</td>
    </tr>
    <tr>
      <th scope="row">Databases</th>
      <td>Microsoft SQL Server, Actian Zen</td>
      <td>MySQL, SQLite</td>
    </tr>
    <tr>
      <th scope="row">Tools</th>
      <td>Git, Jira, Confluence, Subversion</td>
      <td>Microsoft Azure, Jenkins, Azure DevOps (TFS)</td>
    </tr>
    <tr>
      <th scope="row">Programs</th>
      <td>Visual Studio 2019, Visual Studio Code, GIMP</td>
      <td>Android Studio, IntelliJ IDEA</td>
    </tr>
    <tr>
      <th scope="row">Processes</th>
      <td>DevOps & CI/CD, Agile/Scrum/Kanban</td>
      <td>Test-driven development</td>
    </tr>
  </tbody>
</table>
