<div
  class="card card-link text-white bg-dark"
  [routerLink]="['/projects', project.id]"
>
  <img class="card-img-top" [src]="project.image" [alt]="project.name" />
  <div class="card-body">
    <h5>
      {{ project.name }}
      <span *ngIf="project.source.length > 0" class="badge bg-success"
        >Open source</span
      >
    </h5>
    <h6>{{ project.platform }}</h6>
    <button
      type="submit"
      class="btn btn-primary"
      [routerLink]="['/projects', project.id]"
    >
      Details
    </button>
  </div>
</div>
