h6 {
  margin-bottom: 0.5rem !important;
}
.btn-availability {
  margin-right: 1rem !important;
}
a {
  background-color: var(--color-ikb) !important;
}
a:hover {
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}
