<div class="row">
  <div class="card text-white bg-dark col-12">
    <div [routerLink]="['/projects']" class="card-header">👈 Back</div>
    <div class="image-grid-container">
      <div></div>
      <!-- Empty div keeps first column of grid empty (until I come back with another design idea). -->
      <img class="card-img-detail" [src]="project.image" [alt]="project.name" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ project.platform }}</h6>
      <p class="card-text">{{ project.description }}</p>
      <a
        *ngIf="project.availability"
        class="btn btn-primary bg-ikb mr-3"
        [href]="project.availabilityLink"
        target="_blank"
        >{{ project.availability }}</a
      ><a
        *ngIf="project.source"
        class="btn btn-primary bg-ikb"
        [href]="project.source"
        target="_blank"
        >View source</a
      >
    </div>
  </div>
</div>
