<div class="row">
  <div class="card">
    <a [routerLink]="['/projects']" class="my-2">👈 Back</a>
    <div class="image-grid-container">
      <img class="card-img-detail" [src]="project.image" [alt]="project.name" />
      <img class="card-img-detail" [src]="project.image" [alt]="project.name" />
      <img class="card-img-detail" [src]="project.image" [alt]="project.name" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ project.platform }}</h6>
      <p class="card-text">{{ project.description }}</p>
      <a
        *ngIf="project.availability"
        class="card-link"
        [href]="project.availabilityLink"
        target="_blank"
        >{{ project.availability }}</a
      >
      <a
        *ngIf="project.source"
        class="card-link"
        [href]="project.source"
        target="_blank"
        >View source</a
      >
    </div>
  </div>
</div>
