#slideshow {
  border-radius: 12px;
  margin: 0;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;

    &:first-of-type {
      position: static;
      visibility: visible;
    }
  }
}