<p>
  Please leave a message and I will respond when I can.
</p>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Character Name</label>
    <input
      type="text"
      id="name"
      name="name"
      class="form-control"
      [ngModel]="defaultName"
      required
      #nameCtrl="ngModel">
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name!</span>
  </div>
  <div class="form-group">
    <label for="side">Choose Side</label>
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let option of availableSides" [value]="option.value">
        {{ option.display }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Add Character</button>
</form>
