ul.contact-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 4px;
  padding: 0;

  li {
    padding: 8px;

    a {
      background: var(--contact-background);
      border-radius: 8px;
      display: block;
      font-size: large;
      height: 100%;
      overflow: hidden;
      padding: 8px;
      text-decoration: none;
      transition: 0.2s;
      white-space: nowrap;
      width: 100%;

      &:hover {
        background: var(--contact-background-hover);
        transform: translateX(-16px);
      }

      svg {
        fill: currentColor;
        margin-right: 24px;
        height: 24px;
        width: 24px;
      }
    }
  }
}
