<div class="container">
  <p>
    You can reach me and follow my latest progress at one of the following
    social networks.
  </p>
  <div class="list-group">
    <a
      href="https://github.com/chrisstonedev"
      target="_blank"
      class="list-group-item list-group-item-action"
      ><i class="fa fa-github" aria-hidden="true"></i> GitHub (chrisstonedev)</a>
    <a
      href="https://www.linkedin.com/in/chrisstonedev/"
      target="_blank"
      class="list-group-item list-group-item-action"
      ><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn (chrisstonedev)</a>
    <a
      href="https://www.instagram.com/chrisstonedev/"
      target="_blank"
      class="list-group-item list-group-item-action"
      ><i class="fa fa-instagram" aria-hidden="true"></i> Instagram (chrisstonedev)</a>
      <a
        href="https://www.twitter.com/chrisstonedev/"
        target="_blank"
        class="list-group-item list-group-item-action"
        ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter (chrisstonedev)</a>
  </div>
</div>
