<h1>Employment</h1>
<div>
  <h2><a href="https://www.linkedin.com/company/emmersion-ai/" rel="nofollow" target="_blank">Emmersion</a></h2>
  <div class="work-details">
    <h3>Software Engineer</h3>
    <h4>Jun 2021 - now</h4></div>
</div>
<div>
  <h2><a href="https://www.linkedin.com/company/cultura-technologies/" rel="nofollow" target="_blank">Cultura
    Technologies</a></h2>
  <div class="work-details">
    <h3>Software Development Team Lead</h3>
    <h4>Jul 2014 - Jun 2021</h4></div>
</div>
<div>
  <h2><a href="https://www.linkedin.com/company/orion-vision-group/" rel="nofollow" target="_blank">Orion Vision
    Group</a></h2>
  <div class="work-details">
    <h3>Web & Graphic Designer</h3>
    <h4>Aug 2011 - Jul 2014</h4></div>
</div>
<h1>Education</h1>
<div>
  <h2><a href="https://www.linkedin.com/school/kennesaw-state-university---college-of-science-and-mathematics/"
         rel="nofollow" target="_blank">Kennesaw State University</a></h2>
  <div class="work-details">
    <h3>Bachelor's of Science - Computer Science</h3>
    <h4>Jul 2015</h4></div>
</div>
