<h1>Work</h1>
<h2>Employment</h2>
<div>
  <h3><a href="https://www.linkedin.com/company/emmersion-ai/" rel="nofollow" target="_blank">Emmersion</a></h3>
  <div class="work-details row">
    <h4 class="col-md-6">Software Engineer</h4>
    <h5 class="col-md-6">Jun 2021 - now</h5></div>
</div>
<div>
  <h3><a href="https://www.linkedin.com/company/cultura-technologies/" rel="nofollow" target="_blank">Cultura
    Technologies</a></h3>
  <div class="work-details row">
    <h4 class="col-md-6">Software Development Team Lead</h4>
    <h5 class="col-md-6">Jul 2014 - Jun 2021</h5></div>
</div>
<div>
  <h3><a href="https://www.linkedin.com/company/orion-vision-group/" rel="nofollow" target="_blank">Orion Vision
    Group</a></h3>
  <div class="work-details row">
    <h4 class="col-md-6">Web & Graphic Designer</h4>
    <h5 class="col-md-6">Aug 2011 - Jul 2014</h5></div>
</div>
<h2>Education</h2>
<div>
  <h3><a href="https://www.linkedin.com/school/kennesaw-state-university---college-of-science-and-mathematics/"
         rel="nofollow" target="_blank">Kennesaw State University</a></h3>
  <div class="work-details row">
    <h4 class="col-md-6">Bachelor's of Science - Computer Science</h4>
    <h5 class="col-md-6">Jul 2015</h5></div>
</div>
