a {
  color: #0dcaf0;

  &:hover {
    color: #acd;
  }
}

h1 {
  margin: 16px 0 16px 24px;
}

.work-details {
  display: flex;
  margin-bottom: 24px;

  h3 {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
  }

  h4 {
    font-size: 20px;
    font-weight: 400;
  }
}
