<h4>Speaking</h4>
<p>
  Speaking about technical topics helps me synthesize topics that I am trying to learn as well as share the things that
  I have learned with a wider audience. This is a relatively new pursuit in my career, so please come back to this page
  soon for more detail about talks I have given and the content from those talks.
</p>
<div class="card card-link text-white bg-dark col-md-6"
     routerLink="/speaking/technical-debt">
  <img alt="Chris Stone speaking at Atlanta Technical Debt"
       class="card-img-top"
       src="assets/atlantacodecamp-photo.jpeg"/>
  <div class="card-body">
    <h5>
      Buried in Technical Debt? Making the Right Investments in Your Code
    </h5>
    <h6>
      Atlanta Code Camp 2021<br>
      Big Mountain Data & Dev 2021
    </h6>
    <button class="btn btn-primary"
            routerLink="/speaking/technical-debt"
            type="submit">
      Details
    </button>
  </div>
</div>
