<h4>Speaking</h4>
<p>
  Speaking about technical topics helps me synthesize topics that I am trying to learn as well as share the things that
  I have learned with a wider audience. This is a relatively new pursuit in my career, so please come back to this page
  soon for more detail about talks I have given and the content from those talks.
</p>
<h1>Buried in Technical Debt? Making the Right Investments in Your Code</h1>
<ul>
  <li><a href='https://atlantacodecamp.com/2021' target='_blank'>Atlanta Code Camp 2021</a></li>
  <li><a href='https://www.utahgeekevents.com/events/big-mountain-data-dev-2021/' target='_blank'>
    Big Mountain Data and Dev 2021 <span class="badge bg-light">Register now!</span>
  </a></li>
</ul>
<p>Have you ever taken a shortcut to complete a task, assuring yourself that you would go back and clean it up and do it
  the right way later when you had the time? In software, this is called “technical debt,” and when it piles up, it can
  make code hard to read and maintain. Soon enough, the cost to fix these problems can become too high, and convincing
  your team to take action becomes increasingly difficult. In this talk, we will discuss the different types of
  technical debt, how to convince other people in the organization of the importance of making regular “minimum
  payments,” and some creative strategies to keep in mind for software projects with excessive “accrued interest.”</p>
<p>Supplementary content from this presentation will be added here soon.</p>
