<div class="card text-white bg-dark">
  <div class="form-check form-switch">
    <input (change)="filterChange()"
           [(ngModel)]="filterOpenSource"
           class="form-check-input"
           id="flexCheckDefault"
           name="filterOpenSource"
           type="checkbox"/>
    <label class="form-check-label" for="flexCheckDefault">
      Show only open source projects
    </label>
  </div>
</div>
<div class="row">
  <app-item *ngFor="let project of filteredProjects"
            [project]="project"
            class="col-md-4"></app-item>
</div>
