<div class="row">
  <a [routerLink]="['/portfolio']" class="back-link">
    <div>👈 Back</div>
  </a>
  <div class="card text-white bg-dark col-12">
    <div class="image-grid-container">
      <div></div>
      <!-- Empty div keeps first column of grid empty (until I come back with another design idea). -->
      <img [alt]="project.image.alt" [src]="project.image.path" class="card-img-detail"/>
    </div>
    <div class="card-body">
      <h5>{{ project.name }}</h5>
      <h6>{{ project.platform }}</h6>
      <p class="card-text">{{ project.description }}</p>
      <a *ngIf="project.availability"
         [href]="project.availability.link"
         class="btn btn-primary btn-availability"
         target="_blank">{{ project.availability.buttonLabel }}</a>
      <a *ngIf="project.openSourceLink"
         [href]="project.openSourceLink"
         class="btn btn-primary"
         target="_blank">View source</a>
    </div>
  </div>
</div>
