h5 {
  margin-bottom: 0.75rem;
}

h6 {
  color: #6c757d !important;
  margin-bottom: 0.5rem !important;
  margin-top: -0.375rem;
}

.btn-availability {
  margin-right: 1rem !important;
}

.btn {
  background-color: var(--color-ikb);
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.back-link {
  display: flex;
  justify-content: center;

  a {
    background: #014;
    color: #fffb;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      background: #125;
      color: white;
    }
  }
}