a {
  color: #88f;

  &:hover {
    color: #bbf;
  }
}

.back-link {
  background: #014;
  cursor: pointer;
  margin-bottom: 24px;
  padding: 5px 10px;
  text-decoration: none;

  &:hover {
    background: #125;
    color: white;
  }
}

.badge {
  margin-left: 8px;
}
