<div class="container">
  <div class="row">
    <div [routerLink]="['/speaking']" class="back-link">👈 Back</div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-white bg-dark">
        <div class="card-body">
          <h2>Buried in Technical Debt? Making the Right Investments in Your Code</h2>
          <p>This talk has been presented at the following conferences:</p>
          <ul>
            <li><a href='https://atlantacodecamp.com/2021' target='_blank'>
              Atlanta Code Camp 2021</a>
              <span class="badge bg-primary">In-person</span></li>
            <li><a href='https://www.utahgeekevents.com/events/big-mountain-data-dev-2021/' target='_blank'>
              Big Mountain Data & Dev 2021</a>
              <span class="badge bg-success">Virtual</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-white bg-dark mt-4">
        <div class="card-body">
          <h3>Abstract</h3>
          <p>Have you ever taken a shortcut to complete a task, assuring yourself that you would go back and clean it up
            and do it the right way later when you had the time? In software, this is called “technical debt,” and when
            it piles up, it can make code hard to read and maintain. Soon enough, the cost to fix these problems can
            become too high, and convincing your team to take action becomes increasingly difficult. In this talk, we
            will discuss the different types of technical debt, how to convince other people in the organization of the
            importance of making regular “minimum payments,” and some creative strategies to keep in mind for software
            projects with excessive “accrued interest.”</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card text-white bg-dark mt-4">
        <div class="card-body">
          <h3>Recording</h3>
          A recording will be made available soon.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-dark mt-4">
        <div class="card-body">
          <h3>Promotional image</h3>
        </div>
        <img alt='Chris Stone will be presenting at Atlanta Code Camp 2021' class="card-img-bottom"
             src='assets/atlantacodecamp.jpeg'/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card text-white bg-dark mt-4">
        <div class="card-body">
          <h3>Slides</h3>
          <p>Slides for this talk are hosted on <a
            href="https://docs.google.com/presentation/d/e/2PACX-1vSwk28blL11yjqG9skdbzMYC9ZWWgJqHcq5EjsFqp7x7rXvBwRWEJiJq4kGtqZ2IFcrFiSbs5bi3F5V/pub?start=false&loop=false&delayms=3000">
            Google Slides</a>.</p>
        </div>
        <iframe allowfullscreen="true"
                class="card-img-bottom"
                frameborder="0"
                height="569"
                mozallowfullscreen="true"
                src="https://docs.google.com/presentation/d/e/2PACX-1vSwk28blL11yjqG9skdbzMYC9ZWWgJqHcq5EjsFqp7x7rXvBwRWEJiJq4kGtqZ2IFcrFiSbs5bi3F5V/embed?start=false&loop=false&delayms=3000"
                webkitallowfullscreen="true"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-dark mt-4">
        <div class="card-body">
          <h3>Code</h3>
          <p>See the code behind this talk on
            <a href="https://github.com/chrisstonedev/technical-debt" target="_blank">GitHub</a>.</p>
        </div>
        <a href="https://github.com/chrisstonedev/technical-debt"
           target="_blank">
          <img alt="See the code behind this talk at github.com/chrisstonedev/technical-debt"
               class="card-img-bottom"
               src="assets/github-technical-debt.jpeg"/></a>
      </div>
    </div>
  </div>
</div>
