.speaking-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  a {
    background: var(--grid-card-background);
    border-radius: 20px;
    box-shadow: 6px 4px 4px var(--grid-card-box-shadow);
    color: var(--font-color);
    text-decoration: none;
    transition: .2s;

    &:hover {
      background: var(--grid-card-background-hover);
      transform: scale(1.05) rotate(3deg);
    }

    img {
      border-radius: 20px 20px 0 0;
      width: 100%;
    }

    .card-body {
      padding: 10px;

      h2 {
        color: var(--grid-card-title);
        margin-bottom: 16px;
        margin-top: 0;
      }

      h3 {
        color: var(--grid-card-subtitle);
        margin-bottom: 12px;
        margin-top: 0;
      }

      ul {
        margin: 0;
      }
    }
  }
}
