@import "~bootstrap/dist/css/bootstrap.min.css";

html {
  width: 100vw;
}

body {
  background-color: #20203f;
  color: #d0d0df;
  overflow-x: hidden;
}

.card-link,
.card-header {
  cursor: pointer;
}

.card-link:hover {
  transform: translateY(-10px);
  transition: 0.2s;
}

a:hover,
a:focus {
  color: #ff8a00;
  outline: none;
}

.card-img-detail {
  width: 100%;
}

:root {
  --color-ikb: #211dc3;
}
