@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  width: 100vw;
}

body {
  background-color: #20203f;
  color: #d0d0df;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: #88f;
  transition: .2s;

  &:hover {
    color: #bbf;
  }

  &:focus, &:active {
    color: white;
  }
}

img {
  max-width: 100%;
}

.card-img-detail {
  width: 100%;
}

:root {
  --color-ikb: #211dc3;
}

.back-link {
  display: flex;
  justify-content: center;

  a {
    background: #014;
    color: #fffb;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      background: #125;
      color: white;
    }
  }
}

.work-card-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  & > div {
    background: #339;
    border-radius: 16px;
    padding: 16px;

    & > h3 {
      font-size: 16px;
      margin: 0 0 16px;
    }

    & > .work-details {

      h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 8px 0 0;
      }

      h5 {
        font-size: 14px;
        font-style: italic;
        margin: 0;
      }
    }
  }
}
