@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-color: #002;
  --background-color: #ddf;
  --link-color: #66f;
  --link-color-hover: #44f;
  --link-color-focus: black;
  --work-card-background: #ccf;
  --back-link-background: #bcf;
  --back-link-background-hover: #dff;
  --back-link-color: #000b;
  --back-link-color-hover: black;
  --grid-card-background: #fff8;
  --grid-card-background-hover: #fff;
  --grid-card-box-shadow: #0008;
  --grid-card-title: #338;
  --grid-card-subtitle: #459;
  --taglines-background-primary: #abe;
  --taglines-background-secondary: #aaf;
  --contact-background: #fff4;
  --contact-background-hover: #fff;
}

[data-theme="dark"] {
  --font-color: #ddf;
  --background-color: #002;
  --link-color: #aaf;
  --link-color-hover: #bbf;
  --link-color-focus: white;
  --work-card-background: #339;
  --back-link-background: #014;
  --back-link-background-hover: #125;
  --back-link-color: #fffb;
  --back-link-color-hover: white;
  --grid-card-background: #0008;
  --grid-card-background-hover: #000;
  --grid-card-box-shadow: #fff6;
  --grid-card-color: #fffb;
  --grid-card-title: #eef;
  --grid-card-subtitle: #bbf;
  --taglines-background-primary: #013;
  --taglines-background-secondary: #014;
  --contact-background: #0004;
  --contact-background-hover: #000;
}

html {
  width: 100vw;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

a {
  color: var(--link-color);
  transition: .2s;

  &:hover {
    color: var(--link-color-hover);
  }

  &:focus, &:active {
    color: var(--link-color-focus);
  }
}

img {
  max-width: 100%;
}

.card-img-detail {
  width: 100%;
}

:root {
  --color-ikb: #211dc3;
}

.back-link {
  display: flex;
  justify-content: center;

  a {
    background: var(--back-link-background);
    color: var(--back-link-color);
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
      background: var(--back-link-background-hover);
      color: var(--back-link-color-hover);
    }
  }
}

.work-card-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  & > div {
    background: var(--work-card-background);
    border-radius: 16px;
    padding: 16px;

    & > h3 {
      font-size: 16px;
      margin: 0 0 16px;
    }

    & > .work-details {

      h4 {
        font-size: 18px;
        font-weight: bold;
        margin: 8px 0 0;
      }

      h5 {
        font-size: 14px;
        font-style: italic;
        margin: 0;
      }
    }
  }
}

.theme-switch {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  margin-left: auto;
  padding: 0;
}
