<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h5>
        Full-stack software engineer with experience in desktop, web, cloud, and
        mobile.
      </h5>
      <br />
      <h5>
        Development team lead with the technical and management skills to drive
        teams forward.
      </h5>
      <br />
      <h5>Seeking technical challenges and always eager to learn more.</h5>
    </div>
    <div class="col-md-4">
      <img src="/assets/chris.png" class="card-img-detail" />
    </div>
  </div>
</div>
