<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <p>Full-stack software engineer with experience in desktop, web, cloud, and mobile.</p>
      <p>Development team lead with the technical and management skills to drive teams forward.</p>
      <p>Seeking technical challenges and always eager to learn more.</p>
      <div #refTaglines id='taglines'>
        <ng-container *ngFor='let tagline of taglines'>
          <div class='tagline' [id]='tagline.id'>{{tagline.text}}</div>
        </ng-container>
      </div>
    </div>
    <div class='col-md-4'>
      <img src='assets/chris.png' class='card-img-detail' alt='Photo of Chris Stone' />
    </div>
  </div>
</div>
