#taglines {
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;

  .tagline {
    background-color: #013;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;

    &:first-of-type {
      position: static;
      visibility: visible;
    }
  }
}

.atlanta-code-camp {
  color: white;
  margin-bottom: 24px;
  text-decoration: none;

  &:hover {
    color: #aff;
    opacity: 0.8;
  }

  .atlanta-code-camp-container {
    background: #1468;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .atlanta-code-camp-text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      padding: 16px;

      .atlanta-code-camp-title {
        font-size: x-large;
      }
    }
  }
}

@media (max-width: 991px) {
  .atlanta-code-camp-container {
    flex-direction: column;

    img {
      border-radius: 0 0 20px 20px;
      width: 100%;
    }
  }
}

@media (min-width: 992px) {
  .atlanta-code-camp-container {
    flex-direction: row;

    img {
      border-radius: 0 20px 20px 0;
      height: 300px;
    }
  }
}
