.event-banner-link {
  background: #1468;
  border-radius: 20px;
  color: white;
  padding: 8px 24px 0;
  margin-bottom: 24px;
  text-decoration: none;

  &:hover {
    color: #aff;
    opacity: 0.8;
  }

  .event-banner-title {
    font-size: x-large;
    margin-bottom: 16px;
  }
}

#taglines {
  border-radius: 8px;
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;

  .tagline {
    background-color: #013;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    visibility: hidden;

    &:first-of-type {
      position: static;
      visibility: visible;
    }
  }
}

.profile-picture {
  margin-bottom: 24px;
}
