.event-banner-link {
  background: #1468;
  border-radius: 20px;
  color: white;
  padding: 8px 24px 0;
  margin-bottom: 24px;
  text-decoration: none;

  &:hover {
    color: #aff;
    opacity: 0.8;
  }

  .event-banner-title {
    font-size: x-large;
    margin-bottom: 16px;
  }
}

.profile-picture {
  margin-bottom: 24px;
}
