<div class='container'>
  <div class='row'>
    <a class='atlanta-code-camp' routerLink='/speaking'>
      <div class='atlanta-code-camp-container'>
        <div class='atlanta-code-camp-text'>
          <div class='atlanta-code-camp-title'>I spoke at Atlanta Code Camp 2021!</div>
          <div class='atlanta-code-camp-description'>
            <p>I gave a talk on technical debt at this year's Atlanta Code Camp at Kennesaw State University.
              Resources from the presentation will soon be added to the new Speaking page.</p>
          </div>
        </div>
        <img alt='Chris Stone will be presenting at Atlanta Code Camp 2021' src='assets/atlantacodecamp.jpeg' />
      </div>
    </a>
    <div class='col-md-8'>
      <div #refTaglines id='taglines'>
        <ng-container *ngFor='let tagline of taglines'>
          <div [id]='tagline.id' class='tagline'>{{tagline.text}}</div>
        </ng-container>
      </div>
      <p>Full-stack software engineer with experience in desktop, web, cloud, and mobile.</p>
      <p>Development team lead with the technical and management skills to drive teams forward.</p>
      <p>Seeking technical challenges and always eager to learn more.</p>
    </div>
    <div class='col-md-4'>
      <img alt='Photo of Chris Stone' class='card-img-detail' src='assets/chris.png' />
    </div>
  </div>
</div>
