#taglines {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.tagline {
  background-color: #013;
  padding: 5px 10px;

  position: absolute;
  visibility: hidden;
}

.tagline:first-of-type {
  position: static;
  visibility: visible;
}
